In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt



path = 'datasets/student_scores.csv'
df = pd.read_csv(path)
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [3]:
X = df.drop(['Hours'],axis=1)
X.shape

(25, 1)

In [4]:
y = df.Hours
y.shape

(25,)

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [8]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(X_train,y_train)

LinearRegression()

In [13]:
lin_reg.predict(X_test)

array([8.12435175, 5.14747582, 8.3104065 , 6.54288642, 7.10105065])

In [15]:
y_pred = lin_reg.predict(X_test)
y_pred

array([8.12435175, 5.14747582, 8.3104065 , 6.54288642, 7.10105065])

In [21]:
new_df = pd.DataFrame({"Actual":y_test,"Predicted":y_pred})
new_df

    Actual  Predicted
24     7.8   8.124352
21     4.8   5.147476
6      9.2   8.310406
19     7.4   6.542886
3      8.5   7.101051